# Ignore environment folders
env/
.venv/
venv/
backend/.env
data/
pdfs/
books/



# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings if using
.vscode/

# Ignore pycache
__pycache__/
*.pyc
