# Ignore environment folders
env/
.venv/
venv/
.env
data/
pdfs/
books/
chroma/
chroma1/
# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings if using
.vscode/

# Ignore pycache
__pycache__/
*.pyc
