# Ignore environment folders
env/
.venv/
venv/
backend/.env
data/
pdfs/
books/
backend/upload
backend/chroma/
chroma1/
backend/venv/
# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings if using
.vscode/

# Ignore pycache
__pycache__/
*.pyc
